/src/testgnulib

.deps
*.o
Makefile
*.in
*~
*.tar.gz

/autoscan.log
/compile
/config.h
/config.log
/config.status
/config.guess
/config.sub
/configure
/configure.scan
/depcomp
/err
/m4
/lib
/missing
/snippet
/stamp-h1
/aclocal.m4
/autom4te.cache
/install-sh